In [6]:
import pandas as pd
df = pd.read_csv('test.csv')
df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100004,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100008,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,454500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
2,100011,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,913500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
3,100014,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,652500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
4,100015,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,102319,Cash loans,M,Y,Y,0,135000.000,314055.0,17167.5,238500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
995,102322,Cash loans,F,N,Y,0,202500.000,942300.0,30528.0,675000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
996,102324,Cash loans,F,Y,Y,0,261000.000,1227901.5,46899.0,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
997,102325,Revolving loans,F,N,Y,0,157500.000,180000.0,9000.0,180000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
998,102332,Cash loans,F,N,Y,0,112500.000,284400.0,15880.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [8]:
df.info

<bound method DataFrame.info of      SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0        100004    Revolving loans           M            Y               Y
1        100008         Cash loans           M            N               Y
2        100011         Cash loans           F            N               Y
3        100014         Cash loans           F            N               Y
4        100015         Cash loans           F            N               Y
..          ...                ...         ...          ...             ...
994      102319         Cash loans           M            Y               Y
995      102322         Cash loans           F            N               Y
996      102324         Cash loans           F            Y               Y
997      102325    Revolving loans           F            N               Y
998      102332         Cash loans           F            N               Y

     CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0               0         67500.000    135000.0       6750.0         135000.0
1               0         99000.000    490495.5      27517.5         454500.0
2               0        112500.000   1019610.0      33826.5         913500.0
3               1        112500.000    652500.0      21177.0         652500.0
4               0         38419.155    148365.0      10678.5         135000.0
..            ...               ...         ...          ...              ...
994             0        135000.000    314055.0      17167.5         238500.0
995             0        202500.000    942300.0      30528.0         675000.0
996             0        261000.000   1227901.5      46899.0        1129500.0
997             0        157500.000    180000.0       9000.0         180000.0
998             0        112500.000    284400.0      15880.5         225000.0

     ... FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0    ...                0                0                0                0
1    ...                0                0                0                0
2    ...                0                0                0                0
3    ...                0                0                0                0
4    ...                0                0                0                0
..   ...              ...              ...              ...              ...
994  ...                0                0                0                0
995  ...                0                0                0                0
996  ...                0                0                0                0
997  ...                0                0                0                0
998  ...                0                0                0                0

    AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                          0.0                        0.0
1                          0.0                        0.0
2                          0.0                        0.0
3                          0.0                        0.0
4                          0.0                        0.0
..                         ...                        ...
994                        0.0                        0.0
995                        NaN                        NaN
996                        0.0                        0.0
997                        NaN                        NaN
998                        0.0                        0.0

     AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                           0.0                        0.0
1                           0.0                        0.0
2                           0.0                        0.0
3                           0.0                        1.0
4                           0.0                        0.0
..                          ...                        ...
994                         0.0                        0.0
995                         NaN                        NaN
996                         0.0                        0.0
997                         NaN                        NaN
998                         0.0                        0.0

     AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                          0.0                         0.0
1                          1.0                         1.0
2                          0.0                         1.0
3                          0.0                         0.0
4                          0.0                         2.0
..                         ...                         ...
994                        0.0                         0.0
995                        NaN                         NaN
996                        2.0                         2.0
997                        NaN                         NaN
998                        1.0                         4.0

[999 rows x 121 columns]>